[run]
branch = True
omit =
    stubs/*
    output_videos/*
    main.py
    config.py
    tests/*
    tennis_tracker.py
    src/vision_tracking/court_detector.py
    src/visualization/visualization.py
    src/visualization/visualization_utils.py
    src/vision_tracking/tracknet.py
    schema.py
    yolo_person_detector.py

[report]
precision = 2
show_missing = True
skip_covered = False
omit =
    stubs/*
    output_videos/*
    main.py
    config.py
    tests/*
    tennis_tracker.py
    src/vision_tracking/court_detector.py
    src/visualization/visualization.py
    src/visualization/visualization_utils.py
    src/vision_tracking/tracknet.py
    schema.py
    yolo_person_detector.py

[html]
directory = htmlcov
