# Bytecode
__pycache__/

# Entorno virtual
.venv/
venv/
env/

# IDE
.vscode/
.idea/

# Ignorar videos procesados pero mantener la carpeta
static/output_videos/*.mp4
static/output_videos/*.avi
static/output_videos/*.mov

# Cobertura pytest-cov
htmlcov/
.coverage

# Archivos pesados (límite 100MB de GitHub)
*.pt
*.mp4
*.avi

.env

# Entornos y datos locales
.cursor/
datasets/
stubs/